{% extends 'base.html.twig' %}

{% block title %}Atamatoki | Accueil{% endblock %}

{% block body %}

<div class="slider">
    {% for track in tracks %}
        <div>
            <div class="details">
                <figure>
                    <a href="{{ path("tracks_show", {'id' : track.id}) }}"><img src="{{ asset('/uploads/'~track.image) }}"></a>
                    <figcaption>{{ track.title }}<br>
                        {{ track.duration }}</figcaption>
                </figure>
                <audio src="{{ asset('/uploads/'~track.file) }}" controls></audio>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
